@use '@angular/material' as mat;
@include mat.core();
@import 'assets/theme';

.light {
  @include mat.all-component-themes($light-theme);
}

.dark {
  @include mat.all-component-colors($dark-theme);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eee;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2196f3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1565c0;
}

:root {
  --padding-container: 16px;
  --padding-dialog-content: 11px 24px 20px;
  --gap: 16px;
}

html {
  /* For Firefox */
  overflow-y: scroll;
  scrollbar-color: #2196f3 #1565c0;
  scrollbar-width: thin;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cdk-global-overlay-wrapper {
  justify-content: center !important;
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding: var(--padding-dialog-content) !important;
}

mat-form-field {
  width: 100%;
}
