@use '@angular/material' as mat;

:root {
  --padding-container: 16px;
  --padding-dialog-content: 11px 24px 20px;
  --gap: 16px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-form-field {
  width: 100%;
}
