@use '@angular/material' as mat;
@include mat.core();
@import "assets/theme";

.light {
  @include mat.all-component-themes($light-theme);
}

.dark {
  @include mat.all-component-colors($dark-theme);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
