@use '../../node_modules/@angular/material/index' as mat;
@include mat.elevation-classes();
@include mat.app-background();

$light-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$blue-palette, 500, 200, 800),
    accent: mat.define-palette(mat.$deep-orange-palette),
    warm: mat.define-palette(mat.$deep-orange-palette, A200)
  )
));


$dark-theme: mat.define-dark-theme((
  color: (
    primary: mat.define-palette(mat.$cyan-palette),
    accent: mat.define-palette(mat.$teal-palette),
    warm: mat.define-palette(mat.$teal-palette, A200)
  )
));

